{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-3">
  <a class="nhsuk-back-link__link" href="{% url 'clinic_or_region' lang=lang %}">
    {% trans "Go back" %}
  </a>
</div>

<form method="post" novalidate>
  {% csrf_token %}

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        {% trans "2. Please select the hospital where the diabetes clinic that you currently attend is normally held." %}
      </legend>
      <div class="nhsuk-radios" data-module="nhsuk-radios">
        {% for clinic in clinics %}
          {% include "submissions/partials/radio-input.html" with id="clinic-"|add:forloop.counter name="pz_code" value=clinic.pz_code label=clinic.name field_value=selected_pz_code autosave=False %}
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <button class="nhsuk-button" type="submit" data-module="nhsuk-button">
    {% trans "Continue" %}
  </button>
</form>
{% endblock %}
