{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-3">
  <a class="nhsuk-back-link__link" href="{% url 'landing' %}">
    {% trans "Go back" %}
  </a>
</div>

<form id="clinic-form" method="post" novalidate>
  {% csrf_token %}

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        {% trans "2. Please select the hospital where the diabetes clinic that you currently attend is normally held." %}
      </legend>
      <div id="location-picker" class="autocomplete-wrapper"></div>
    </fieldset>
  </div>

  <button class="nhsuk-button" type="submit" data-module="nhsuk-button">
    {% trans "Select" %}
  </button>
</form>

  <h3>{% trans 'or' %}</h3>

<form method="post" novalidate>
  {% csrf_token %}

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        {% trans "1. Please select the region where your diabetes clinic is located." %}
      </legend>
      <div id="q1-hint" class="nhsuk-hint">{% trans "Ask your diabetes team if you are unsure." %}</div>
      <div class="nhsuk-radios" data-module="nhsuk-radios">
        {% for region_with_slug in regions_with_slugs %}
          {% include "submissions/partials/radio-input.html" with id=region_with_slug.0 name="region" value=region_with_slug.0 label=region_with_slug.1 field_value=region autosave=False %}
        {% endfor %}
        <div class="nhsuk-radios__divider">{% trans "or" %}</div>
        {% include "submissions/partials/radio-input.html" with id="unsure" name="region" value="all" label="I'm not sure" field_value=region.0 autosave=False %}
      </div>
    </fieldset>
  </div>

  <button class="nhsuk-button" type="submit" data-module="nhsuk-button">
    {% trans "Select" %}
  </button>
</form>

{% include "submissions/partials/clinic-search-js.html" %}
{% endblock %}
