{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="{% url 'landing' %}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    {% trans "Go back" %}
  </a>
</div>

<form method="post" novalidate>
  {% csrf_token %}

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
        {% trans "1. Please select the region where your diabetes clinic is located." %}
      </legend>
      <div id="q1-hint" class="nhsuk-hint">{% trans "Ask your diabetes team if you are unsure." %}</div>
      <div class="nhsuk-radios" data-module="nhsuk-radios">
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-nenc" name="q1_region" type="radio" value="north-east-north-cumbria"
                 {% if q1_region == "north-east-north-cumbria" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-nenc">{% trans "North East & North Cumbria" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-nw" name="q1_region" type="radio" value="north-west"
                 {% if q1_region == "north-west" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-nw">{% trans "North West" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-yh" name="q1_region" type="radio" value="yorkshire-humber"
                 {% if q1_region == "yorkshire-humber" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-yh">{% trans "Yorkshire & Humber" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-em" name="q1_region" type="radio" value="east-midlands"
                 {% if q1_region == "east-midlands" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-em">{% trans "East Midlands" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-wm" name="q1_region" type="radio" value="west-midlands"
                 {% if q1_region == "west-midlands" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-wm">{% trans "West Midlands" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-ee" name="q1_region" type="radio" value="east-of-england"
                 {% if q1_region == "east-of-england" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-ee">{% trans "East of England" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-sc" name="q1_region" type="radio" value="south-central"
                 {% if q1_region == "south-central" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-sc">{% trans "South Central" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-lse" name="q1_region" type="radio" value="london-south-east"
                 {% if q1_region == "london-south-east" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-lse">{% trans "London & South East" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-sw" name="q1_region" type="radio" value="south-west"
                 {% if q1_region == "south-west" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-sw">{% trans "South West" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-tv" name="q1_region" type="radio" value="thames-valley"
                 {% if q1_region == "thames-valley" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-tv">{% trans "Thames Valley" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-wales" name="q1_region" type="radio" value="wales"
                 {% if q1_region == "wales" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-wales">{% trans "Wales" %}</label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-jersey" name="q1_region" type="radio" value="jersey"
                 {% if q1_region == "jersey" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-jersey">{% trans "Jersey" %}</label>
        </div>
        <div class="nhsuk-radios__divider">{% trans "or" %}</div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="q1-unsure" name="q1_region" type="radio" value="unsure"
                 {% if q1_region == "unsure" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="q1-unsure">{% trans "I'm not sure" %}</label>
        </div>
      </div>
    </fieldset>
  </div>

  <button class="nhsuk-button" type="submit" data-module="nhsuk-button">
    {% trans "Continue" %}
  </button>
</form>
{% endblock %}
