{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="nhsuk-panel nhsuk-panel--confirmation">
  <h1 class="nhsuk-panel__title">
    {% trans "Thank you very much for your help" %}
  </h1>
  <div class="nhsuk-panel__body">
    {% trans "Your responses have been saved." %}
  </div>
</div>

<p>
  {% trans "If you wish to enter the prize draw to win a £50 voucher, please click this link:" %}
  <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=MZmP3XjLBkSKAQGsYcENSoUoNjpYrZ1OjN73BNw_lKpUNkFPRzVRU1Q5TTlWR0tNWEdSQ0FLNlZRQi4u" target="_blank" rel="noreferrer">
    {% trans "Prize Draw" %}
  </a>
</p>

<p>
  {% trans "confirmation.issues_content" %}
</p>

<ul class="nhsuk-list">
  <li>
    <a href="https://breakthrought1d.org.uk/knowledge-support/about-type-1-diabetes/" target="_blank">
      {% trans "Breakthrough T1D UK website" %}
    </a>
  </li>
  <li>
    <a href="https://www.drwf.org.uk/living-with-diabetes/" target="_blank">
      {% trans "Diabetes Research and Wellness Foundation (DWRF) website" %}
    </a>
  </li>
  <li>
    <a href="https://www.diabetes.org.uk/" target="_blank">
      {% trans "Diabetes UK helpline and website" %}
    </a>
    (0345 123 3299)
  </li>
</ul>

{% endblock %}
