{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-3">
  <a class="nhsuk-back-link__link" href="{{ prev_url }}">
    {% trans "Go back" %}
  </a>
</div>

{% include "submissions/_form_nav.html" %}

<form method="post"
      action="{% url 'parent_submit' lang=lang %}"
      novalidate>
  {% csrf_token %}

  {% include section_template with autosave_url_name="parent_autosave" role="parent" %}

  {% if is_last_section %}
    <button class="nhsuk-button" type="submit" data-module="nhsuk-button">
      {% trans "Submit" %}
    </button>
  {% else %}
    <nav class="nhsuk-u-margin-top-6" aria-label="{% trans 'Form navigation' %}">
      <a class="nhsuk-button" href="{{ next_url }}">
        {% trans "Continue" %}
      </a>
    </nav>
  {% endif %}

</form>
{% endblock %}
