{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-3">
  <a class="nhsuk-back-link__link" href="{{ prev_url }}">
    {% trans "Go back" %}
  </a>
</div>

<form method="post" novalidate>
    {% csrf_token %}

    <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                {{ question.title }}
            </legend>
            <div class="nhsuk-radios" data-module="nhsuk-radios">
                {% for option in question.options %}
                    {% include "submissions/partials/radio-input.html" with id=question.id|add:"-"|add:option.0 name=question.id value=option.0 label=option.1 field_value=field_value hint=option.2 %}
                {% endfor %}
            </div>
        </fieldset>
    </div>

    <nav class="nhsuk-u-margin-top-6" aria-label="{% trans 'Form navigation' %}">
      <input type="submit" class="nhsuk-button" value="{% trans 'Continue' %}">
    </nav>

</form>
{% endblock %}
