{% extends "base.html" %}
{% load i18n %}

{% block content %}
 <form method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="action" value="enable_tablet_mode">
    <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="tablet-mode-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
                Tablet Mode
            </h1>
            </legend>
            <div id="tablet-mode-hint" class="nhsuk-hint">
                Skip the first question and set the diabetes unit automatically so multiple people
                can complete the survey on the same device (e.g. within the hospital itself).
            </div>
            <div id="location-picker" class="autocomplete-wrapper"></div>
        </fieldset>
    </div>
    <nav class="nhsuk-u-margin-top-6">
      <input type="submit" class="nhsuk-button" id="enable-btn" value="{% trans 'Enable' %}" disabled aria-disabled="true">
    </nav>
</form>
<form method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="action" value="disable_tablet_mode">
    <nav>
        <input type="submit" class="nhsuk-button nhsuk-button--secondary" id="disable-btn" value="{% trans 'Disable' %}" {% if not tablet_mode_enabled %}disabled aria-disabled="true"{% endif %}>
    </nav>
</form>

{% include "submissions/partials/clinic-search-js.html" %}
{% endblock %}