# POSTGRES SETUP
POSTGRES_DB="npda-prem"
POSTGRES_PASSWORD="password"
POSTGRES_USER="npda-prem"
POSTGRES_PORT=5432
POSTGRES_HOST="postgres"

DJANGO_SECRET_KEY=reallyverysecret
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
DEBUG=True

# Microsoft Entra ID OAuth (admin login)
ADMIN_LOGIN_AZURE_TENANT_ID=
ADMIN_LOGIN_AZURE_CLIENT_ID=
ADMIN_LOGIN_AZURE_CLIENT_SECRET=
# Comma separated list of email
ADMIN_ALLOWED_EMAILS=

# Turnstile setup (optional)
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=