<script type="application/json" id="clinic-data">
  {{clinic_json|safe }}
</script>

<script>
  const { clinic_display_names, current_clinic_display_name } = JSON.parse(document.getElementById('clinic-data').textContent);

  document.addEventListener('DOMContentLoaded', function () {
    const autoComplete = document.getElementById('location-picker');
    const submit = autoComplete.closest('form').querySelector('[type="submit"]');

    if(current_clinic_display_name) {
      submit.disabled = false;
    }

    accessibleAutocomplete({
      element: autoComplete,
      id: 'location-autocomplete',
      name: 'clinic',
      source: clinic_display_names,
      defaultValue: current_clinic_display_name || '',
      showAllValues: true,
      onConfirm: (value) => {
        submit.disabled = !value;
      }
    });
  });
</script>