<script type="application/json" id="clinic-data">
  {{clinic_json|safe }}
</script>

<script>
  const { clinic_names_with_regions, selected_clinic_name_with_region } = JSON.parse(document.getElementById('clinic-data').textContent);

  document.addEventListener('DOMContentLoaded', function () {
    const autoComplete = document.getElementById('location-picker');

    console.log(autoComplete.closest('form'));

    const submit = autoComplete.closest('form').querySelector('[type="submit"]');

    if(selected_clinic_name_with_region) {
      submit.disabled = false;
      submit.ariaDisabled = false;
    }

    accessibleAutocomplete({
      element: autoComplete,
      id: 'location-autocomplete',
      name: 'clinic',
      source: clinic_names_with_regions,
      defaultValue: selected_clinic_name_with_region || '',
      showAllValues: true,
      onConfirm: () => {
        submit.disabled = false;
        submit.ariaDisabled = false;
      }
    });
  });
</script>