{% load i18n %}
<div class="nhsuk-radios__item">
    <input class="nhsuk-radios__input" id="{{id}}" name="{{name}}" type="radio" value="{{value}}"
        {% if field_value == value %}checked{% endif %}
        {% if autosave is None or autosave %}
            hx-post="{%  url 'autosave' lang=lang role=role  %}" hx-trigger="change" hx-swap="none"
        {% endif %}>
    <label class="nhsuk-label nhsuk-radios__label" for="{{id}}">
        {% trans label %}
    </label>
    {% if hint %}
        <div id="{{id}}-item-hint" class="nhsuk-hint nhsuk-radios__hint">
          {{hint}}
        </div>
    {% endif %}
</div>